*{
	margin: 0;
	padding: 0;
}
/* body */
body{
	font-family: Monospace;
	background-color: #d9d9d9;
	width: 100%;
	height: 100%;
}
/* header */
header{
	background-color: #00C896;
	text-align: center;
	color: white;
	width: 100%;
	height: 80px;
}
header h1{
	padding-top: 25px;
}
#logo{
	width: 70%;
	height: 30vw;
	margin-top: 100px;
}
#box h1{
	text-align: center;
	font-weight: bold;
	margin: 200px 300px;
}
a{
	text-decoration: none;
}

/* nav */
nav{
	background-color: #333333;
	width: 100%;
	height: 85px;
}
nav i{
	color: white;
	float: right;
	font-size: 40px;
	margin: 23px 30px 0 0;
}
nav h2{
	color: #00FF00;
        padding: 30px 0 0 20px;
}
#box1{
	background-color: #00C896;
	width: 100%;
	height: 0px;
	transition: 0.5s;
	z-index: 1;
	overflow-x: hidden;
}
#box1 h1{
	color: white;
	padding: 30px 0 0 25px;
	font-size: 25px;
}
.ty{
	color: white;
}
/* footer */
footer{
	background-color: #00C896;
	width: 100%;
	height: 140px;
	text-align: center;
	color: black;
}
#By{
	color: black;
}
footer h3{
	padding-top: 50px;
	color: #55ff00;
}
