*{
	margin: 0;
	padding: 0;
}

/* body */
body{
	font-family: Monospace;
	background-color: #d9d9d9;
}

a{
	text-decoration: none;
}
/* header */
header{
	background-color: #00C896;
	text-align: center;
	color: white;
	width: 100%;
	height: 60px;
}
header h1{
	padding-top: 15px;
}

/* nav */
nav{
	background-color: #333333;
	width: 100%;
	height: 85px;
}
nav i{
	color: white;
	float: right;
	font-size: 40px;
	margin: 23px 30px 0 0;
}
nav h2{
	color: #00FF00;
	padding: 30px 0 0 20px;
}
#box{
	background-color: #00C896;
	width: 100%;
	height: 0px;
	transition: 0.5s;
	z-index: 1;
	overflow-x: hidden;
}
#box h1{
	color: #00FF00;
	padding: 25px 0 5px 25px;
	font-size: 25px;
}
.ty{
	color: white;
}
#logo{
	width: 600px;
	height: 30vw;
	margin-top: 100px;
}
#txt1{
	text-align:center;
	margin: 200px 0 250px 0;
	color: red;
}
#section1{
 margin: 70px 0 50px 0;
 text-align: center;
}
#python{
	width: 600px;
	height: 30vw;
}
#section1 h1{
	color: #ff0000;
	padding: 80px 0 100px 0;
}
span{
	color: #ff0000;
}
.y{
	color: #990099;
}
.corses{
	text-align: left;
	padding: 15px;
}
#section2{
	margin: 70px 0 50px 0;
 text-align: center;
}
#termux{
	width: 600px;
	height: 30vw;
	margin-top: 100px;
}
#section2 h1{
	color: #ff0000;
	padding: 80px 0 100px 0;
}
#section3{
 margin: 70px 0 50px 0;
 text-align: center;
}
#books{
	width: 600px;
	height: 70vw;
	margin-top: 100px;
}
#section3 h1{
	color: #ff0000;
	padding: 80px 0 100px 0;
}
#section3 h3{
	margin-bottom: 200px;
}

#section4{
 margin: 70px 0 50px 0;
 text-align: center;
}
#tool{
	width: 600px;
	height: 30vw;
}
#section4 h1{
	color: #ff0000;
	padding: 35px 0 35px 0;
}
.ly{
	text-align: left;
	padding-left: 10px;
}

/* footer */
footer{
	background-color: #00C896;
	width: 100%;
	height: 140px;
	text-align: center;
	color: black;
}
#up{
	color: black;
	float: left;
	font-size: 35px;
	margin: 30px 0 0 25px;
}
.scrollToTop:hover{
	text-decoration: none;
}

#By{
	color: black;
}
footer h3{
	padding-top: 50px;
	color: black;
}